# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entorno virtual
TFG_env/
env/
venv/
.env

# Archivos de Flask / aplicación
instance/
uploads/
outputs/
model/

# Archivos de test y cobertura
.coverage
.coverage.*
**/.coverage
**/.coverage.*
coverage.xml
**/coverage.xml
htmlcov/
**/htmlcov/
.pytest_cache/
**/.pytest_cache/

# Archivos de VS Code
.vscode/

.venv-test/

requirements.freeze.txt