<!-- ========================================================================
Archivo: base.html
Autor: Marcos Zamorano Lasso
Since: 19/11/2025
Descripción:
Plantilla base del proyecto. Define la estructura HTML principal,
cabecera, estilos, layout común y bloques que heredan las vistas.
=========================================================================== -->

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Trazas de Herbívoros{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header class="main-header">
      <h1>Trazas de Herbívoros</h1>
    </header>

    <main class="main-content">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>